body{
    background-color:#343f4b ;
    margin:0;
}


.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #222a33;
    transition: width 200ms ease;
    z-index: 1;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 37vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item{
    width: 100%;
    
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: #fff;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}
.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: #425061;
}
.link-text{
    display: none;
    margin-left: 0.5rem;
}
.nav-link i{
    min-width: 2rem;
    margin: 0 1.5rem;
    transform:scale(1.5);
}
.navbar:hover{
    width: 13em;
}
.navbar:hover .link-text{
    display: block;
}
i{
    color:#449399;
    transition: 600ms;
    
}
.main{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.description{
    width: 50vw;
    height: auto;
    display: flex;
    color:#fff;
    background-color: #425061;
   
    
}
.description>.descFirstDiv{
    width: 40vw;
    height: auto;
    font-size: 1.2rem;
    padding-left: 1.5vw;
}
.description >div>h1{
   text-align: center;
}
.descSecondDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.descSecondDiv>img{
    width: auto;
    height: 15vh;
    border: 5px solid #449399;
    border-radius: 50%;
}
.personalDetails{
    width: 50vw;
    height: 10vh;
    background-color: #222a33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    
}
.personalDetails >div{
    padding: 0 1vw;
}
.content{
    background-color: #fff;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    
    
}
.left{
    width: 25vw;
    height: auto;
    
}
.element{
    
    height: auto;
    padding: 1vw 1vh;
   
    
}
.element > div >h2,.element > div >h3,.element > div >p{
    margin: 0.3vh;
}
.title{
    color:#449399 ;
    font-size: 1.25rem;
    text-decoration: underline;
}
.year{
    color:#449399 ;
    font-size: 0.8rem;
}
.right{
    width: 25vw;
    height: auto;  
     
}
.right>.element>.table{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8vw;
    width: auto;
    
    
}
.extra{
    margin: 1.5vh 0vw;
}


.b{
    width: auto;
    height: 1.6vh;
    background-color: #62656a;
    border: 3px solid #62656a ;
    border-radius: 10px;
    box-shadow: 0px 0 3px;
    padding: 0.2vh 0.3vw;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

@media (max-width:700px) {
    body{
        font-size: 0.8rem;
        
    }
    body:link{
        text-decoration: none;
        color:inherit;
    }
    h1{
        font-size: 0.8rem;
    }
    h2{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.8rem;
    }
    .year{
        font-size: 0.8rem;
    }
    .left{
        width: auto;
        
    }
    .right{
        width: auto;
    }
    .descSecondDiv>img{
        width: auto;
        height: 10vh;
        border-width: 2px;
    }
    .b{
        width: auto;
        height: auto;
    }
    .description, .content,.personalDetails{
        width: 70vw;
    }
    .content{
        flex-direction: column;
        
    }
    .personalDetails{
        flex-direction: column;
        height: auto;
    }
}