*{
    margin: 0;
}


.container{
    width: 60vw;
    height: 50vh;
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    gap:2px
}

.menu{
    display: flex;
    width: 100%;
    height: 10%;
    background-color:blanchedalmond;
    outline: 2px solid black;
    text-align: center;
    
}
.menu :last-child{
    border-left: 1px solid black;
}
.option{
    width: 100%;
}
.option:hover:active{
    background-color:rgb(231, 206, 167) ;
}

.display{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display > button{
    height: 5vh;
    width: 10vw;
}
#countCulori{
   
    width: 100%;   
    height: 60%;
    border: 1px solid black;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap:7px;
    background-color: blanchedalmond;
    padding-top: 40px;
    margin:0px 10px 0px 10px;
    box-shadow: 0px 0 10px black;
}
.variante{
    max-width: 30%;
    min-width: 30%;
    height: 30%;
    outline: 2px solid black;
    text-align: center;
    padding-top:30px ;
    color:blanchedalmond ;
}