html{
    box-sizing: border-box;
}
*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    min-width: 50vw;
    max-width: 50vw;
    min-height: 50vh;
    max-height: 50vh;
    padding: 10px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    
}

h1{
    margin: 0;
    text-align: center;
    font-size: 3.5em;
    font-weight: 900;
    color: rgba(0, 0, 29, 0.836);
    margin-bottom: 20px;
}

#paragraf{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.containerBtn{
    width: 80vw;
    height:15vh ;
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 20px;
   
}
.containerBtn >div> button,.containerBtn>button{
    background-color:darkgray ;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.btnSubContainer{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.btnSubContainer:first-child >button{
    background-color: rgb(233, 24, 24);
}
.btnSubContainer:last-child >button{
    background-color: rgb(44, 145, 44);
}
.containerBtn > button:hover:active{
    background-color: rgb(110, 107, 107);
}
#reset{
    background-color: #f1f1f1;
}
@media (width < 800px){
    .container{
        min-width: 90vw;
        max-width: 90vw;
    }
    .containerBtn,.btnSubContainer{
        gap:3vw;
    }
}